body{
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-color: #008B8B;
}

.people_rows{
  margin-bottom: 20px;
}

.green_button{
  background-color: #4bc970;
  color: #FFF;
  padding-right: 40px;
  padding-left: 40px;
}
.green_button{
  background-color: #4bc970;
  color: #FFF;
}

.image_back{
  margin-left: 20px;
  margin-top:20px;
  width:300px;
  height:130px;
  border-color: black;
}

.title_card{
  font-size:29px;
  font-color:green;
  margin-top:-80px; 
  margin-left:108px;
}

.bio_box{
  width:300px;
  height:130px;
  font-size:14px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom:-40px;
  margin-top:-15px;
}
.other_box{
   font-size:18px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
  margin-top:;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}