h1 {
  margin: 100px;
  text-align: center;
  color: #F8F8FF;
  font-size: 100px;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #008B8B;
  color: white;
  text-align:center;
  font-size:30px;
}



